@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Css/Bootstrap/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/Client/Personal.js"></script>
    <title></title>
</head>
<body>
    <div>
        <div class="inbox-body">
            <label for="name">用户名</label>
            <input type="text" class="form-control" id="name"
                   placeholder="请输入用户名">
            <label for="tel">电话</label>
            <input type="text" class="form-control" id="tel"
                   placeholder="请输入电话">
        </div>
        <br>
        <button id="submit" onclick="fun1()" class="btn btn-success" style="margin-left:150px;">确定</button>
    </div>
</body>
</html>
