<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/Css/Bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Css/Sell/retailerManage.css" />
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.js"></script>
    <script src="~/Scripts/Sell/Warehousing.js"></script>
    <!-- <script type="text/javascript" src="js/bootstrap.min.js"></script> -->
</head>
<body>
    <div class="container">
        <div class="mail-box">
            <aside class="sm-side">
                <!-- 个人信息 -->
                <div class="user-head">
                    <a class="inbox-avatar">
                        <img width="64" height="60" src="~/Content/Image/img_1.jpg">
                    </a>
                    <div class="user-name">
                        <h5><a href="#">冷鲜店</a></h5>
                        <span><a href="#">商业街A3-02店</a></span>
                    </div>
                </div>
                <!-- 功能模块按钮 -->
                <ul class="nav nav-pills nav-stacked labels-info inbox-divider">
                    <li> <a href="#"> <i class=" fa fa-sign-blank"></i> 商品信息管理</a> </li>
                    <li> <a href="#"> <i class=" fa fa-sign-blank"></i> 入库管理 </a> </li>
                    <li> <a href="#"> <i class=" fa fa-sign-blank"></i> 销售 </a></li>
                    <li> <a href="#"> <i class=" fa fa-sign-blank"></i> 库存管理 </a></li>
                    <li> <a href="#"> <i class=" fa fa-sign-blank"></i> 交易记录 </a></li>
                    <li> <a href="#"> <i class=" fa fa-sign-blank"></i> 信息修改 </a></li>
                </ul>
            </aside>
            <aside class="lg-side">
                <div class="inbox-head">
                    <h3>入库管理</h3>
                </div>
                <!-- 功能内容 -->
                <div class="inbox-body">
                    <!-- 主要表格 -->
                    <table id="tab1" class="table table-inbox table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>商品</th>
                                <th>数量</th>
                                <th>价格</th>
                            </tr>
                        </thead>
                        <tbody id = "tbody">
                            
                        </tbody>
                    </table>
                    <br />
                    <button class="btn btn-default" id = "addInventory">+入库</button>
                    <h3 id="sum" class="pull-right" style="margin:0px"></h3>
                    <br />
                    <button id="AddWareHousing" class="pull-right btn btn-success">确定</button>
                </div>
            </aside>
        </div>
    </div>
</body>
</html>